/* define all elements */
* {
	margin: 0; padding: 0;
}

head {
	
}

body {
	background-image: url('../images/grey.png');
	background-size: cover;
}
h1, h2, h3, h4 {
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #4aaaa5;
}

p {
	color: #777777;
	line-height: 200%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a:link, a:visited {
	text-decoration: none;
	color: #777777;
}
a:hover {
	text-decoration: none;
	color: #777777;
}
a:active {
	text-decoration: none;
	color: #777777;
}

.header {
	width: 100%
	position: static;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	height: 95px;
}

.logo {
	position: absolute;
	float: left;
	text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, Times, "Times New Roman", serif;
    width: 270px;
    height: 65px;
    font-size: 28px;
    padding-top: 28px;
 	margin-left: 50px;
}

.nav-links {
	position: absolute;
	float: left;
	color: #777777;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding-top: 38px;
	margin-left: 760px;
	width: 200px;
}

.main {
	width: 100%;
	overflow: auto;
}

.about, .contact, .portfolio {
	float: left;
	position: relative;
	width: 580px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin: 30px 30px 30px 50px;
	padding: 28px;
}
.about-title, .contact-title, .portfolio-title {
	position: relative;
	margin-bottom: 28px;
	padding-bottom: 28px;
	border-bottom: 2px solid #cccccc;
}

.img-profile {
	float: left;
	margin-right: 28px;
	margin-bottom: 20px;
}

.p-bio1, .p-bio2, .contact-form {
	color: #777777;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.social {
	float: left;
	position: absolute;
	left:680px;
	width: 200px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin: 30px 30px 30px 50px;
	padding: 20px 28px;
}

.social-title {
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #cccccc;
}

/* Form settings */
.contact-form input, textarea, button {
	color: #cccccc;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	width: 580px;
	height: 28px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.contact-form textarea {
	height: 150px;
}

.contact-form button {
	width: 100px;
	height: 30px;
	background-color: #4aaaa5;
	color: #ffffff;
}

/* Portfolio settings */
.box-set {
	position: relative;
	background-color: #ffffff;
	height: 560px;
}
.box-set h4 {
	color: #ffffff;
	text-align: center;
	font-weight: normal;
	position: relative;
	top: 50%;
    transform: translateY(-50%);
}
.box {
	position: absolute;
	width: 270px;
	height: 50px;
	background-color: #4aaaa5;

}

/* left boxes and titles (odd ones) */
.box-1, .boxt-1, .box-3, .boxt-3, .box-5, .boxt-5 {
	left: 0px;
}

/* right boxes (even ones) */
.box-2, .boxt-2, .box-4, .boxt-4 {
	right: 0px;
}

/* Boxes by row */
.box-1, .box-2 {
	top: 10px;
}
.box-3, .box-4 {
	top: 200px;
}
.box-5 {
	top: 390px;
}

/* Align box title/header on image */
.boxt-1, .boxt-2, .boxt-3, .boxt-4, .boxt-5 {
	top: 100px;
}

/* Footer settings */
.footer {
 	background-color: #666666;
	border-top: 4px solid #4aaaa5;
}
.footer p {
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.page-wrap {
  clear: both;
  min-height: 100%;
  /* equal to footer height */
    margin-bottom: -95px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  /* .push must be the same height as footer */
    height: 95px; 
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
