/* define all elements */
* {
	margin: 0; padding: 0;
}

body {
	background-image: url('../images/grey.png');
	background-size: cover;
}
h1, h2, h3, h4 {
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #4aaaa5;
}

p {
	color: #777777;
	line-height: 200%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a:link, a:visited {
	text-decoration: none;
	color: #777777;
}
a:hover {
	text-decoration: none;
	color: #777777;
}
a:active {
	text-decoration: none;
	color: #777777;
}

.header {
	position: relative;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	height: 95px;
}
.logo {
	position: absolute;
	float: left;
	text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, Times, "Times New Roman", serif;
    width: 270px;
    height: 65px;
    font-size: 28px;
    padding-top: 28px;
 	margin-left: 50px;
}
.nav-links {
	position: absolute;
	color: #777777;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding-top: 38px;
	margin-left: 760px;
	width: 200px;
}

.main {
	position: relative;
	width: 100%;
	overflow: auto;
}

.about, .contact, .portfolio {
	float: left;
	width: 580px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin: 30px 30px 30px 50px;
	padding: 28px;
}

.about-title, .contact-title, .portfolio-title {
	position: relative;
	margin-bottom: 28px;
	padding-bottom: 28px;
	border-bottom: 2px solid #cccccc;
}

.img-profile {
	float: left;
	margin-right: 28px;
	margin-bottom: 20px;
}

.p-bio1, .p-bio2, .contact-form {
	color: #777777;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.social {
	float: left;
	position: absolute;
	left:680px;
	width: 200px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin: 30px 30px 30px 50px;
	padding: 20px 28px;
}

.social-title {
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #cccccc;
}

/* Form settings */
.contact-form input, textarea, button {
	color: #cccccc;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	width: 580px;
	height: 28px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.contact-form textarea {
	height: 150px;
}
.contact-form button {
	width: 100px;
	height: 30px;
	background-color: #4aaaa5;
	color: #ffffff;
}

.portfolio {
	width: 610px; /* adjusted for loss of padding to keep size same */
	padding-right: 0px;
	padding-bottom: 0px;
}
.portfolio-title {
	width: 580px; /* adjusted to fix bottom-border length */
}
.box {
	float: left;
	position: relative;
	margin-right: 35px;
	margin-bottom: 28px;
}

.boxtitle {
	position: absolute;
	width: 270px;
	height: 50px;
	background-color: #4aaaa5;
	top: 100px;
	text-align: center;
}
.box-set h4 {
	position: relative;
	top: 50%;
    transform: translateY(-50%);
	color: #ffffff;
	font-weight: normal;
	bottom: 16px;
}

/* Footer settings */
.footer {
 	background-color: #666666;
	border-top: 4px solid #4aaaa5;
}
.footer p {
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.page-wrap {
 	clear: both;
 	min-height: 100%;
    margin-bottom: -95px; 
}
.page-wrap:after {
 	content: "";
 	display: block;
}
.footer, .page-wrap:after {
    height: 95px; 
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}